<p>
    ¿Qué beneficios encuentras en el estilo MVC?<br>
    Usar el estilo MVC ayuda a mejorar la organización, la mantenibilidad y la escalabilidad del código.
</p>

<p>
    ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?<br>
    Complejidad inicial. Implementar el patrón MVC puede requerir un tiempo y esfuerzo significativos al principio del proyecto.
</p>

<footer>
    <div class="content has-text-centered">
        <p class="subtitle is-4">
            <h1>Creado con el editor de codigo: <a href="https://code.visualstudio.com/"><strong>Visual Studio Code</strong></a> </h1>

            <h3 class="title is-3">Pagina creada por <a href="https://www.facebook.com/alckaleo.comp/?locale=es_LA"><strong>Pablo Hazael Hurtado Mireles</strong></a> </h3> 

            <h3 class="title is-3">Correo: h.h.m.pablo@gmail.com</h3>

            <h3 class="title is-3">Matricula: A01710778</h3>
        </p>
    </div>
</footer>

<!-- <script src="lab4.js"></script> -->
</body>
</html>