<p> 
    ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?<br>
    Proporciona claridad, reutilización de código, mantenibilidad, seguridad y facilidad de prueba en una aplicación. <br><br>
    ¿Qué es SQL injection y cómo se puede prevenir?<br>
    La inyección SQL es una vulnerabilidad de seguridad que ocurre cuando los atacantes insertan código SQL malicioso en las consultas SQL enviadas desde una aplicación web a su base de datos. En esta caso los valores no se insertan directamente en el string, sino se pone un signo de interrogación, esto es para evitar ataques de inyección de SQL, ya que el método execute, al pasar estos datos en un arreglo como segundo argumento, evita que si se inserta código SQL, éste no se ejecute y simplemente sea interpretado como un string.
</p>

<footer>
    <div class="content has-text-centered">
        <p class="subtitle is-4">
            <h1>Creado con el editor de codigo: <a href="https://code.visualstudio.com/"><strong>Visual Studio Code</strong></a> </h1>

            <h3 class="title is-3">Pagina creada por <a href="https://www.facebook.com/alckaleo.comp/?locale=es_LA"><strong>Pablo Hazael Hurtado Mireles</strong></a> </h3> 

            <h3 class="title is-3">Correo: h.h.m.pablo@gmail.com</h3>

            <h3 class="title is-3">Matricula: A01710778</h3>
        </p>
    </div>
</footer>

<!-- <script src="lab4.js"></script> -->
</body>
</html>