<p>
    ¿Qué formas de autentificación existen?<br>
    Ademas de la forma de autentificación por contrasenia tambien existen las siguientes autentificaciones. <br><br>
    
    La autentificación por dos factores. <br>
    Esto puede incluir un código enviado por SMS, correo electrónico, una aplicación de autenticación móvil, o un token de hardware.<br><br>
    
    Autenticación biométrica. <br>
    Este método utiliza características físicas o comportamentales únicas del usuario para verificar su identidad. Esto puede incluir huellas dactilares, reconocimiento facial, iris, voz, o patrones de escritura.
</p>

<footer>
    <div class="content has-text-centered">
        <p class="subtitle is-4">
            <h1>Creado con el editor de codigo: <a href="https://code.visualstudio.com/"><strong>Visual Studio Code</strong></a> </h1>

            <h3 class="title is-3">Pagina creada por <a href="https://www.facebook.com/alckaleo.comp/?locale=es_LA"><strong>Pablo Hazael Hurtado Mireles</strong></a> </h3> 

            <h3 class="title is-3">Correo: h.h.m.pablo@gmail.com</h3>

            <h3 class="title is-3">Matricula: A01710778</h3>
        </p>
    </div>
</footer>

<!-- <script src="lab4.js"></script> -->
</body>
</html>