<p>
    ¿En qué consiste el control de acceso basado en roles? <br>
    El Acceso Basado en Roles es un enfoque efectivo para gestionar el acceso a recursos y funcionalidades dentro de un sistema al asignar permisos a roles y luego asignar usuarios a esos roles<br> <br>
    Investiguen y describan 2 sistemas, uno que aplique RBAC y uno que no. Realicen un análisis de las ventajas y desventajas de cada uno con respecto al control de acceso.<br>
    Uso de RBAC: sistema de gestión de archivos en donde tenemos de roles Editor (Edita y ve archivos), Lector (ve archivos)<br>
    Uso de DAC (Control de acceso discrecional): Un sistema operativo típico como Linux, macOS o Windows. En estos sistemas, los permisos de acceso a archivos y directorios se gestionan mediante DAC. <br> <br>

    Ventajas de usar RBAC: <br>
    Simplicidad en la gestión de permisos y Seguridad mejorada <br><br>

    Desventajas de usar RBAC:<br>
    Complejidad inicial y Posible rigidez en la asignación de roles.<br><br>

    Ventajas de usar DAC:<br>
    Simplicidad, flexibilidad, e implementación en sistemas operativos estándar.<br> <br>

    Desventajas de usar DAC: <br>
    Falta de escalabilidad, falta de control centralizado y riesgo de violaciones de seguridad.<br>

</p>
<footer>
    <div class="content has-text-centered">
        <p class="subtitle is-4">
            <h1>Creado con el editor de codigo: <a href="https://code.visualstudio.com/"><strong>Visual Studio Code</strong></a> </h1>

            <h3 class="title is-3">Pagina creada por <a href="https://www.facebook.com/alckaleo.comp/?locale=es_LA"><strong>Pablo Hazael Hurtado Mireles</strong></a> </h3> 

            <h3 class="title is-3">Correo: h.h.m.pablo@gmail.com</h3>

            <h3 class="title is-3">Matricula: A01710778</h3>
        </p>
    </div>
</footer>

<!-- <script src="lab4.js"></script> -->
</body>
</html>